<div class="center border w-25  text-center ms-5 center-div mt-5">
    <div class="h-100">
    <h1>ADD to List</h1>
    <form action="/" method="post" class="">
    <input type="text" name="input1" class="form-control mt-4" required>
    <input type="submit" value="add" class="btn btn-success mt-5">
    </form>
    </div>
<div class='center border w-75  text-center ms-5 center-div mt-5 mb-5'>
    <ul class="">
            {{#each list}}
               <p>{{@index}}.{{this.name}}</p> 
             {{/each}}
    </div>

</div>

